<div>
  <div nz-flex [nzJustify]="'space-between'">
    <div>
      <h2>Department</h2>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['/crm']">Dashboard</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Department</nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <button nz-button (click)="addRow()" nzType="primary">
      <nz-icon nzType="plus" />
      Add Department
    </button>
  </div>
  <br />
  <br />
  <nz-table #editRowTable nzBordered [nzData]="listOfData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th nzWidth="10%">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of editRowTable.data; track data) {
      <tr class="editable-row">
        <td>{{ data.id }}</td>
        <td>
          {{ data.name }}
        </td>

        <td nz-flex [nzJustify]="'space-between'">
          <a nz-popconfirm nzType="primary"
            ><nz-icon nzType="edit" nzTwotoneColor="#52c41a"  nzTheme="twotone"
          /></a>
          <a
            nz-popconfirm
            nzType="danger"
            nzPopconfirmTitle="Sure to delete?"
            (nzOnConfirm)="deleteRow(data.id)"
            ><nz-icon nzType="delete" nzTwotoneColor="#eb2f96"  nzTheme="twotone"
          /></a>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>
